
@{
    ViewData["Title"] = "Register";
}

@model Movie

<h1>Register</h1>

<form asp-action="Result" asp-action="Result" method="post">
    <p>ID: <input type="number" name="id" placeholder="id" value="@Model.ID" /></p>
    <p>Title: <input type="text" name="title" placeholder="Title" value="@Model.Title" maxlength="50"/></p>
    <label for="genre">Genre</label>
    <select name="genre" id="genre">
        <option value="Action">Action</option>
        <option value="Horror">Horror</option>
        <option value="Comedy">Comedy</option>
        <option value="Drama">Drama</option>
        <option value="Thriller">Thriller</option>
    </select></p>
    <p>Year: <input type="number" name="year" placeholder="Year" value="@Model.Year" min="1880" max="@DateTime.Now.Year" /></p>

    <p>Actor: <input type="text" name="actors" placeholder="Actor Name" value="" /></p>
    <p>Actor: <input type="text" name="actors" placeholder="Actor Name" value="" /></p>
    <p>Actor: <input type="text" name="actors" placeholder="Actor Name" value="" /></p>

    <p>Director: <input type="text" name="directors" placeholder="Director" value="" /></p>

    <p><input type="submit" value="Register movie!" /></p>
</form>